<!DOCTYPE html>
<html>
<head>
	<title>Performance Predictor</title>
	<style>
		body {
			background-color: #d8873c;
			font-family: Arial, sans-serif;
		}
		h1 {
			color: #333;
			text-align: center;
			margin-top: 50px;
		}
		button {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			display: block;
			margin: 50px auto;
			font-size: 18px;
		}
		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>Performance Predictor</h1>
	<button onclick="window.location.href='home.html'">Get Predictions</button>
</body>
</html>